@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>The World's Greatest Book Tracking app period.</h2>
            </hgroup>
            <p>Ever been in a conversation with a friend and could not remember which romantic novel you wanted to recommend for your friend. 
                Well with our book tracking management system you will never need to worry about this again. Simply sign-up and start tracking your books today.</p>
        </div>
    </section>
}
<h3>Why use BookTracker:</h3>
<ol class="round">
    <li class="one">
        <h5>Easy Access</h5>
        Book Tracker has a user interface that your grandmother could sit down and become an expert in under 5 minutes. If you find out user interface too hard to use then we will gladly refund your free account double what you paid.
    </li>

    <li class="two">
        <h5>Free Account</h5>
        Track as many books a you want with your free account.
    </li>

    <li class="three">
        <h5>Support Exports</h5>
        You can always export your data into multiple spreadsheet options
    </li>
</ol>
